div {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width:100%;
    
}


a {
    display: block;
    margin: 0 auto;
    width: 20px;
    padding: 10px;
    font-size: 20px;
}